[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ORFhunteR"]
	path = ORFhunteR
	url = https://github.com/rfctbio-bsu/orfhunter
	shallow = true
	registered = true
